.container-fluid {
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  #logo {
    animation: App-logo-flip infinite 20s linear;
  }
} */

#header {
  padding: 5%;
  font-size: 90%;
}

#logo-header {
  padding: 5%;
}

.App-header {
  background-color: transparent;
}

#navbar {
  background: transparent;
  width: 100%;
  font-size: calc(10px + 2vmin);
  height: 95px;
  margin-top: 2%;
  border-radius: 0.5em;
}

#container-uploader {
  border: none;
  background: transparent;
}

#file {
  border: 2px dashed #d6def0;
  padding: 5%;
  border-radius: 0.5em;
  width: 50%;
}

#upload {
  color: #d6def0;
  padding-left: 0.25%;
}

#upload:hover {
  color: whitesmoke;
  transition: all 0.3s ease-in-out;
  font-size: 125%;
}

.btn-primary:hover {
  border: 1px solid whitesmoke;
}

#logo {
  width: 100%;
}

.card {
  border: none;
}

#home {
  color:rgb(6, 6, 195);
  text-decoration: none;
  font-weight: bold;
}

#home-icon {
  margin-right: 2%;
}

#home:hover {
  color: rgba(128, 128, 128, 0.506);
  transition: all 0.3s ease-in-out;
  font-size: 110%;
}

#menu {
  color:rgb(6, 6, 195);
  text-decoration: none;
}

#menu-icon {
  margin-right: 2%;
}

#menu:hover {
  color: rgba(128, 128, 128, 0.506);
  transition: all 0.3s ease-in-out;
  font-size: 110%;
}

#custom {
  color:rgb(6, 6, 195);
  text-decoration: none;
  font-weight: bold;
}

#custom-icon {
  margin-right: 2%;
}

#custom:hover {
  color: rgba(128, 128, 128, 0.506);
  transition: all 0.3s ease-in-out;
  font-size: 110%;
}

#list {
  margin-right: 0.5%;
}

#link1 {
  color: #61dafb;
  text-decoration: none;
  width: 100%;
}

#link1:hover {
  text-decoration: none;
  color: #f2ed00;
}

#footer {
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 60%;
  border: none;
  width: 100%;
}

#footer-title {
  padding-top: 1%;
  font-size: 80%;
}

.App-footer {
  background-color: #d6def0;
  border-radius: 0.5em;
}

#inline_container {
  max-height: auto;
  width: 100%;
  overflow-y: hidden;
}

#main-label {
  border-bottom: 1px dashed black; 
  margin-bottom: 3%; 
  text-align: center; 
  font-size: 125%
}

#inner-label {
  margin-top: 2.5%; 
  margin-bottom: 1%
}

#royal-icon {
  width: 6%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
